a {
    position: relative;
}
#shop > .navbar a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: black;
    width: 0%;
    height: 4px;
    transition: all 0.5s;
}
#shop > .navbar a:hover::after {
    width: 100%;
}